body {
  font-family: Georgia;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  background-attachment: fixed;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  background: transparent !important;
}